<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="feild">
    <label class="label">
      Employee Name
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :name,class:"input is-success",placeholder:"Employee's name" %>
      <span class="icon is-small is-left">
        <i class="fa fa-user-plus"></i>
      </span>
    </div>

    <label class="label">
      Primary Mobile Number
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :contact,class:"input is-success",placeholder:"10 digits" %>
      <span class="icon is-small is-left">
        <i class="fa fa-mobile"></i>
      </span>
    </div>

    <label class="label">
      Address
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :address,class:"input is-success",placeholder:"Complete Address" %>
      <span class="icon is-small is-left">
        <i class="fa fa-location-arrow" aria-hidden="true"></i>

      </span>
    </div>

    <br>

    <% if (params[:controller]=='employees'&& params[:action] == 'new')%>
      <div class="col">
        <%= form.submit "Create Employee", class: 'button is-success'%>
        <%= link_to 'Cancel', employees_path,class: "button is-danger"%>
      </div>
      <%else%>
      <div class="col">
        <%= form.submit "Update Employee", class: 'button is-success'%>
        <%= link_to 'Cancel',employees_path,class: "button is-danger"%>
        <%= link_to 'Employee Details', @employee,class: "button is-danger"%>
      </div>
      <%end%>
  <% end %>
