<div class="container-fluid">
<table class="table is-hoverable is-narrow is-fullwidth">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Contact</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.contact %>
        <div style="float:right" >
          <a href="<%=employee_path(employee)%>"><i class="fa fa-eye" aria-hidden="true" title="Show"></i></a>
          <a href="<%=edit_employee_path(employee)%>"><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
          <%= link_to employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path, class: "button is-danger"%>
