<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                This is your Report card.
            </h1>
            <h2 class="subtitle">
                I hope you are having a greate day!!!
            </h2>
        </div>
    </div>
</section>
<br>
<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"><%= total_complaints %></p>
        <p class="subtitle">Total Complaints</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
          <p class="title"><%=resolved_complaints%></p>
          <p class="subtitle">Resolved complaints</p>
      </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title"><%=pending_complaints%></p>
            <p class="subtitle">Pending complaints</p>
        </article>
    </div>
  </div>
</section>
<div class="columns">
  <div class="column is-6">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Mechanic Board
        </p>
      </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped">
            <tbody>
              <th>name</th>
              <th>total</th>
              <th>solved</th>
              <th>pending</th>
              <%all_mechname.each do |name|%>
              <tr>
                  <td><%=name%></td>
                  <td><%=mec_30 (name)%></td>
                  <td><%=mec_solved_30 (name)%></td>
                  <td><%=name_pending_total (name)%></td>
              </tr>
              <%end%>
        </tbody>
    </table>
  </div>
</div>
</div>
</div>
<div class="column is-6">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Complaint search
      </p>
    </header>
      <%= form_tag complaints_path, :method => 'get',class:"navbar-end navbar-item" do %>
        <%= text_field_tag :search, params[:search],class:"control input is-success" %>
        <%= submit_tag "Search",:name=>nil,class:"controll button is-success"%>
      <%end%>
      </form>
    </div>
  </div>
</div>
<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <%= form_tag update_complaints_path, :method => 'get' do%>
        <div class="feild">
          <label class="label">
            Start Date
          </label>
          <div class="control has-icons-left has-icons-right">
            <%= date_field_tag :start_date,{},{class:'input is-success'}%>
            <span class="icon is-small is-left">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
        <div class="feild">
          <label class="label">
            Stop Date
          </label>
          <div class="control has-icons-left has-icons-right">
            <%= date_field_tag :stop_date,{},{class:'input is-success'} %>
            <span class="icon is-small is-left">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
        <label class="label">
          Mechenic
        </label>
        <div class="control select is-success" id="dropdowntype">
          <%= collection_select :mechenic_search, :mec_name,Mechenic.all,:mec_name,:mec_name,:include_blank => "Select a Mechenic" %>
        </div>
        <label class="label">
          Complaint Status
        </label>
        <div class="control select is-success" id="dropdowntype">
          <%= collection_select :mechenic_search, :complaint_status,COMPLAINTS_STATUS,:to_s,:to_s,:include_blank => "Select a Complaint Status" %>
        </div>
        <%= submit_tag "Search", class: 'button is-success'%>
        <%end%>
      </article>
    </div>
  </div>
</section>
