<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :call_date %>
    <%= form.datetime_select :call_date %>
  </div>

  <div class="field">
    <%= form.label :dealer %>
    <%= form.text_field :dealer %>
  </div>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :fault %>
    <%= form.text_field :fault %>
  </div>

  <div class="field">
    <%= form.label :complaint_status %>
    <%= form.text_field :complaint_status %>
  </div>

  <div class="field">
    <%= form.label :call_history %>
    <%= form.text_field :call_history %>
  </div>

  <div class="field">
    <%= form.label :warranty %>
    <%= form.text_field :warranty %>
  </div>

  <div class="field">
    <%= form.label :mechenic %>
    <%= form.text_field :mechenic %>
  </div>

  <div class="field">
    <%= form.label :site_address %>
    <%= form.text_field :site_address %>
  </div>

  <div class="field">
    <%= form.label :coustomer_name %>
    <%= form.text_field :coustomer_name %>
  </div>

  <div class="field">
    <%= form.label :coustomer_address %>
    <%= form.text_field :coustomer_address %>
  </div>

  <div class="field">
    <%= form.label :coustomer_city %>
    <%= form.text_field :coustomer_city %>
  </div>

  <div class="field">
    <%= form.label :coustomer_phone %>
    <%= form.text_field :coustomer_phone %>
  </div>

  <div class="field">
    <%= form.label :product_sr_no %>
    <%= form.text_field :product_sr_no %>
  </div>

  <div class="field">
    <%= form.label :purchase_date %>
    <%= form.text_field :purchase_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
