<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <label for="inputEmail3" class="col-sm-2">
    Call Date
  </label>
  <div class="col">
    <%= form.datetime_select :call_date ,class: "form-control" %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Dealer
  </label>
  <div class="col">
    <%= form.collection_select :dealer, Dealer.all,:dealer_name,:dealer_name,:include_blank => "Select a Dealer",class: "form-control" %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Product
  </label>
  <div class="col">
    <%= form.collection_select :product_name,product_brand ,:to_s,:to_s,:include_blank => "Select a Product",class: "form-control" %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Fault
  </label>
  <div class="col">
    <%= form.text_field :fault ,class: "form-control",placeholder: "fault",:required => true %>
  </div>


  <label for="inputEmail3" class="col-sm-2">
    Complaint Status
  </label>
  <div class="col">
    <%= form.select :complaint_status,["pending","part_pending","resolved","halt"],:include_blank =>"Status",class: "form-control" %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    History
  </label>
  <div class="col">
    <%= form.select :call_history,["fresh","repeat"],:include_blank =>"History",class: "form-control" %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Warranty Status
  </label>
  <div class="col">
    <%= form.select :warranty,["out of warranty","within warranty"],:include_blank =>"Warranty status" %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Mechenic
  </label>
  <div class="col">
    <%= form.collection_select :mechenic, Mechenic.all,:mec_name,:mec_name,:include_blank => "Select a Mechenic",class: "form-control" %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Site Address
  </label>
  <div class="col">
    <%= form.select :site_address,["On counter","Coustomer address"],:include_blank => "Site Location" %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Coustomer Name
  </label>
  <div class="col">
    <%= form.text_field :coustomer_name,class: "form-control",placeholder: "Name of Coustomer",:required => true %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Address
  </label>
  <div class="col">
    <%= form.text_field :coustomer_address,class: "form-control",placeholder: "Addressto be visited",:required => true %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    City
  </label>
  <div class="col">
    <%= form.text_field :coustomer_city,class:"form-control",placeholder:"City",required:true %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Contact
  </label>
  <div class="col">
    <%= form.text_field :coustomer_phone,class:"form-control",placeholder:"10 digit coustomer's contact"%>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Product Sr.no
  </label>
  <div class="col">
    <%= form.text_field :product_sr_no,class:"form-control",required:true,placeholder:"The unique product_sr_no" %>
  </div>

  <label for="inputEmail3" class="col-sm-2">
    Purchase Date
  </label>
  <div class="col">
    <%= form.datetime_select :purchase_date %>
  </div>
  <br>

  <label for="inputEmail3" class="col-sm-2">
    Complaint Created by
  </label>
  <div class="col">
    <%= form.collection_select :createdby, Employee.all,:name,:name,:include_blank => "Select a Employee",class: "form-control" %>
  </div>

  <% if (params[:controller]=='complaints'&& params[:action] == 'new')%>
    <div class="col">
      <%= form.submit "Rise a complaint ticket", class: 'btn btn-success'%>
      <%= link_to 'Cancel', complaints_path,class: "btn btn-secondary"%>
    </div>
    <%else%>
    <div class="col">
      <%= form.submit "Update Complaint", class: 'btn btn-success'%>
      <%= link_to 'Cancel', complaints_path,class: "btn btn-secondary"%>
      <%= link_to 'Show Product', @complaint,class: "btn btn-secondary"%>

    </div>
    <%end%>

  </div>

  <% end %>
