<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>
      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <label class="label">
    Call ID
  </label>

  <label class="label">
    <%=@complaint_id%>
    <%=@complaint.id%>
  </label>

  <label class="label">
    Call Date
  </label>

  <div class="control has-icons-left has-icons-right">
    <%= form.datetime_local_field :call_date ,class: "input is-success" %>
    <span class="icon is-small is-left">
      <i class="fa fa-calendar"></i>
    </span>
  </div>

  <label class="label">
    Dealer
  </label>

  <div class="control select is-success" id="dropdowntype">
    <%= form.collection_select :dealer, Dealer.order(:dealer_name),:dealer_name,:dealer_name,:include_blank => "Select a Dealer" %>
  </div>

  <label class="label">
    Product
  </label>

  <div class="control select is-success">
    <%= form.collection_select :product_name,product_brand ,:to_s,:to_s,:include_blank => "Select a Product"%>
  </div>

  <label class="label">
    Fault
  </label>
  <div class="control has-icons-left has-icons-right">
    <%= form.text_field :fault ,class: "input is-success",placeholder: "fault",:required => true %>
    <span class="icon is-small is-left">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    </span>
  </div>

  <label class="label">
    Complaint Status
  </label>
  <div class="control select is-success">
    <%= form.select :complaint_status, COMPLAINTS_STATUS, :include_blank =>"Status" %>
  </div>

  <label class="label">
    History
  </label>
  <div class="control select is-success">
    <%= form.select :call_history, ["fresh","repeat"], :include_blank =>"History"%>
  </div>

  <label class="label">
    Warranty Status
  </label>
  <div class="control select is-success">
    <%= form.select :warranty,["out of warranty","within warranty"],:include_blank =>"Warranty status" %>
  </div>

  <label class="label">
    Mechanic
  </label>
  <div class="control select is-success">
    <%= form.collection_select :mechenic, Mechenic.order(:mec_name),:mec_name,:mec_name,:include_blank => "Select a Mechanic"%>
  </div>

  <label class="label">
    Site Address
  </label>
  <div class="control select is-success">
    <%= form.select :site_address,["On counter","Coustomer address"],:include_blank => "Site Location" %>
  </div>

  <label class="label">
    In Stock
  </label>
  <div class="control select is-success">
    <%= form.select :instock,["Instock","Onsite"],:include_blank => "Stock Location" %>
  </div>

  <label class="label">
    Coustomer Name
  </label>
  <div class="control has-icons-left has-icons-right">
    <%= form.text_field :coustomer_name,class: "input is-success",placeholder: "Name of Coustomer",:required => true %>
    <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>
  </div>

  <label class="label">
    Address
  </label>
  <div class="control has-icons-left has-icons-right">
    <%= form.text_field :coustomer_address,class: "input is-success",placeholder: "Addressto be visited",:required => true %>
    <span class="icon is-small is-left">
      <i class="fa fa-location-arrow" aria-hidden="true"></i>
    </span>
  </div>

  <label class="label">
    City
  </label>

  <div class="control has-icons-left has-icons-right">
    <%= form.text_field :coustomer_city,class:"input is-success",placeholder:"City",required:true %>
    <span class="icon is-small is-left">
      <i class="fa fa-map-marker"></i>
    </span>
  </div>

  <label class="label">
    Contact
  </label>

  <div class="control has-icons-left has-icons-right">
    <%= form.text_field :coustomer_phone,class:"input is-success",placeholder:"10 digit coustomer's contact"%>
    <span class="icon is-small is-left">
      <i class="fa fa-mobile"></i>
    </span>
  </div>

  <label class="label">
    Product Sr.no
  </label>

  <div class="control has-icons-left has-icons-right">
    <%= form.text_field :product_sr_no,class:"input is-success",placeholder:"The unique product_sr_no" %>
    <span class="icon is-small is-left">
      <i class="fa fa-qrcode" aria-hidden="true"></i>
    </span>
  </div>

  <label class="label">
    Purchase Date
  </label>

  <div class="control has-icons-left has-icons-right">
    <%= form.datetime_local_field :purchase_date,class: "input is-success" %>
    <span class="icon is-small is-left">
      <i class="fa fa-calendar"></i>
    </span>
  </div>

  <label class="label">
    Closing Date
  </label>

  <div class="control has-icons-left has-icons-right">
    <%= form.datetime_local_field :close_date, class: "input is-success" %>
    <span class="icon is-small is-left">
      <i class="fa fa-calendar"></i>
    </span>
  </div>

  <label class="label">
    Complaint Created by
  </label>

  <div class="control select is-success">
    <%= form.collection_select :createdby, Employee.all, :name, :name, :include_blank => "Select a Employee" %>
  </div>
  <br><br>
  <% if (params[:controller]=='complaints'&& params[:action] == 'new')%>
    <div class="col">
      <%= form.submit "Rise a complaint ticket", class: 'button is-success'%>
      <%= link_to 'Cancel', complaints_path,class: "button is-danger"%>
    </div>
  <%else%>
    <div class="col">
      <%= form.submit "Update Complaint", class: 'button is-success'%>
      <%= link_to 'Cancel', complaints_path,class: "button is-danger"%>
      <%= link_to 'Show Product', @complaint,class: "button is-info"%>
    </div>
  <%end%>
<%end%>
  <script>
    $("#dropdowntype").select2({allowClear: true})
  </script>
