<table class="table is-hoverable is-narrow is-fullwidth" style="overflow-x: auto !important;">
  <thead>
    <tr>
      <th>Call UID</th>
      <th>Call date</th>
      <th>Dealer</th>
      <th>Product name</th>
      <th>Mechenic</th>
      <th>Complaint status</th>
      <th>purchase date</th>
      <th>Product serial</th>
      <th>Close date</th>
    </tr>
  </thead>

  <tbody>
    <%begin%>
    <% @complaints.each do |complaint| %>
      <tr id="<%=complaint.id%>_tr">
        <td><%= complaint.id %></td>
        <td><%= complaint.call_date %></td>
        <td><%= complaint.dealer %></td>
        <td><%= complaint.product_name %></td>
        <td><%= complaint.mechenic %></td>
        <td><%= complaint.complaint_status %></td>
        <td><%= complaint.purchase_date %></td>
        <td><%= complaint.product_sr_no %></td>
        <td><%= complaint.close_date %></td>

        <td>
          <div style="float:right">
            <a href="<%=complaint_path(complaint)%>"><i class="fa fa-eye" aria-hidden="true" title="Show"></i></a>
            <a href="<%=edit_complaint_path(complaint)%>"><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
            <%= link_to complaint_path(complaint), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash-o" aria-hidden="true" titile="Delete"></i>
            <% end %>
        </td>
      </tr>
      <script>
       $('#<%=complaint.id%>_tr''.td').click(function(){
        alert("You entered p1!");
      });
      </script>
    <% end %>
    <%rescue%>
    <%end%>
  </tbody>
</table>
<%= will_paginate @complaints%>
<br>
<%= link_to 'New Complaint', new_complaint_path, class: "button is-danger" %>
