<div class="container-fluid">
<table class="table is-hoverable is-narrow is-fullwidth">
  <thead>
    <tr>
      <th>Call UID</th>
      <th>Call date</th>
      <th>Dealer</th>
      <th>Product name</th>
      <!-- <th>Fault</th> -->
      <th>Complaint status</th>
      <!-- <th>Call history</th> -->
      <!-- <th>Warranty</th> -->
      <th>Mechanic</th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.id %></td>
        <td><%= complaint.call_date %></td>
        <td><%= complaint.dealer %></td>
        <td><%= complaint.product_name %></td>
        <!-- <td><%= complaint.fault %></td> -->
        <td><%= complaint.complaint_status %></td>
        <!-- <td><%= complaint.call_history %></td> -->
        <!-- <td><%= complaint.warranty %></td> -->
        <td><%= complaint.mechenic %></td>
        <td>
        <div style="float:right">
        <a href="<%=complaint_path(complaint)%>"><i class="fa fa-eye" aria-hidden="true" title="Show"></i></a>
        <a href="<%=edit_complaint_path(complaint)%>"><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
        <%= link_to complaint_path(complaint), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o" aria-hidden="true" titile="Delete"></i>
        <% end %>
      </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @complaints%>
<br>

<%= link_to 'New Complaint', new_complaint_path, class: "button is-danger" %>
</div>
