<div class="container-fluid">
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Complaint UID:<%= @complaint.id %>
    </p>
    <p class="card-header-title">Call Date<%= @complaint.call_date %></p>
    <p class="card-header-title">Coustomer:<%= @complaint.coustomer_name %></p>
  </header>
  <div class="card-content">
      Fault: <%= @complaint.fault%><br>
      Dealer:<%= @complaint.dealer %><br>
      product:<%= @complaint.product_name %><br>
      Status:<%= @complaint.complaint_status %><br>
      History:<%= @complaint.call_history %><br>
      Warrenty status:<%= @complaint.warranty %><br>
      mechenic:<%= @complaint.mechenic %><br>
      Site:<%= @complaint.site_address %><br>
      Coustomer Address:<%= @complaint.coustomer_address %><br>
      Coustomer city:<%= @complaint.coustomer_city %><br>
      Coustomer Phone:<%= @complaint.coustomer_phone %><br>
      Product Sr.Number:<%= @complaint.product_sr_no %><br>
      Purched on:<%= @complaint.purchase_date %><br>
    </div>
  <footer class="card-footer">
    <a  href="<%=complaint_path(@complaint)%>" class="card-footer-item ">Edit</a>
    <a  href="<%=complaint_path%>" class="card-footer-item ">Back</a>
    <span class="card-footer-item">Created  By: <%=@complaint.createdby%></span>
  </footer>
</div>
