<%= form_with(model: dealer, local: true) do |form| %>
  <% if dealer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dealer.errors.count, "error") %> prohibited this dealer from being saved:</h2>

      <ul>
      <% dealer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="feild">
    <label class="label">
      DealerName
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :dealer_name, class: "input is-success",placeholder: "Enter dealer's name" %>
      <span class="icon is-small is-left">
        <i class="fa fa-address-card" aria-hidden="true"></i>
      </span>
    </div>

    <label class="label">
      Contact
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :dealer_contact, class: "input is-success",placeholder: "10 digit contact number"%>
      <span class="icon is-small is-left">
        <i class="fa fa-mobile"></i>
      </span>
    </div>

    <label class="label">
      Dealer's Adresss
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :dealer_address,class: "input is-success",placeholder:"Dealer's Adress" %>
      <span class="icon is-small is-left">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </span>
    </div>
    <br>
    <% if (params[:controller]=='dealers'&& params[:action] == 'new')%>
      <div class="col">
        <%= form.submit "Create Dealer", class: 'button is-success'%>
        <%= link_to 'Cancel', dealers_path,class: "button is-danger"%>
      </div>
    <%else%>
      <div class="col">
        <%= form.submit "Update Dealer", class: 'button is-success'%>
        <%= link_to 'Cancel', dealers_path,class: "button is-danger"%>
        <%= link_to 'Dealer Details', @dealer,class: "button is-danger"%>
      </div>
    <%end%>
  </div>
<% end %>
