<p id="notice"><%= notice %></p>
<div class="container-fluid">
<h1>Dealers</h1>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Dealer UID</th>
      <th>Dealer name</th>
      <th>Dealer contact</th>
      <th>Dealer address</th>
    </tr>
  </thead>

  <tbody>
    <% @dealers.each do |dealer| %>
      <tr>
        <td><%= dealer.id %></td>
        <td><%= dealer.dealer_name %></td>
        <td><%= dealer.dealer_contact %></td>
        <td><%= dealer.dealer_address %></td>
        <td>
        <div style="float:right" >
        <%= link_to 'Show', dealer_path(dealer),style: "text-white"%>
        <%= link_to 'Edit', edit_dealer_path(dealer) %>
        <%= link_to 'Delete', dealer, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dealer', new_dealer_path,class: "btn btn-secondary" %>
</div>
