<div class="container-fluid">
<table class="table is-hoverable is-narrow is-fullwidth">
  <thead>
    <tr>
      <th>Dealer name</th>
      <th>Dealer contact</th>
      <th>Dealer address</th>
    </tr>
  </thead>

  <tbody>
    <% @dealers.each do |dealer| %>
      <tr>
        <td><%= dealer.dealer_name %></td>
        <td><%= dealer.dealer_contact %></td>
        <td><%= dealer.dealer_address %>
        <div style="float:right" >
        <a href="<%=dealer_path(dealer)%>"><i class="fa fa-eye" aria-hidden="true" title="Show"></i></a>
        <a href="<%=edit_dealer_path(dealer)%>"><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
        <%= link_to dealer_path(dealer), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
        </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dealer', new_dealer_path,class: "button is-danger" %>
</div>
