<p id="notice"><%= notice %></p>

<div class="container-fluid col-sm-2">
  <div class="card bg-primary text-white container-fluid">
      <div class="card-body text-center">
        <strong >Dealer name  </strong>
        <%= @dealer.dealer_naem %>
        <%= @dealer.dealer_contact%>
        <%= @dealer.dealer_address%>
      </div>
  </div>

  <%= link_to 'Edit', edit_dealer_path(@dealer),class: "btn btn-secondary"%>
  <%= link_to 'Back', dealers_path, class: "btn btn-secondary" %>
</div>
