<%= form_with(model: mechenic, local: true) do |form| %>
  <% if mechenic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mechenic.errors.count, "error") %> prohibited this mechenic from being saved:</h2>

      <ul>
      <% mechenic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mec_name %>
    <%= form.text_field :mec_name %>
  </div>

  <div class="field">
    <%= form.label :mobile_num_1 %>
    <%= form.text_field :mobile_num_1 %>
  </div>

  <div class="field">
    <%= form.label :mobile_num2 %>
    <%= form.text_field :mobile_num2 %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
