<%= form_with(model: mechenic, local: true) do |form| %>
  <% if mechenic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mechenic.errors.count, "error") %> prohibited this mechenic from being saved:</h2>

      <ul>
      <% mechenic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="feild">
    <label class="label">
      Mechanics Name
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :mec_name,class:"input is-success",placeholder:"Mechenic's name" %>
      <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>
    </div>

    <label class="label">
      Primary Mobile Number
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :mobile_num_1,class:"input is-success",placeholder:"10 digits" %>
      <span class="icon is-small is-left">
        <i class="fa fa-mobile"></i>
      </span>
    </div>

    <label class="label">
      Secondary Mobile Number
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :mobile_num2,class:"input is-success",placeholder:"10 digits only" %>
      <span class="icon is-small is-left">
        <i class="fa fa-mobile"></i>
      </span>
    </div>

    <label class="label">
      Email
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :email,class:"input is-success",placeholder:"email@example.com" %>
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </div>

    <label class="label">
      Address
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :address,class:"input is-success",placeholder:"Complete Address" %>
      <span class="icon is-small is-left">
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
      </span>
    </div>

    <label class="label">
      District
    </label>
    <div class="control has-icons-left has-icons-right">
    <%= form.text_field :district,class:"input is-success",placeholder:"District Name" %>
    <span class="icon is-small is-left">
      <i class="fa fa-map-marker"></i>
    </span>
  </div>

<br>
  <% if (params[:controller]=='mechenics'&& params[:action] == 'new')%>
    <div class="col">
      <%= form.submit "Create Mechanic", class: 'button is-success'%>
      <%= link_to 'Cancel', mechenics_path,class: "button is-danger"%>
    </div>
    <%else%>
    <div class="col">
      <%= form.submit "Update Mechanic", class: 'button is-success'%>
      <%= link_to 'Cancel',mechenics_path,class: "button is-danger"%>
      <%= link_to 'Mechanic Details', @mechenic,class: "button is-danger"%>
    </div>
  <%end%>
<% end %>
