<div class="container-fluid">
<table class="table is-hoverable is-narrow is-fullwidth">
  <thead>
    <tr>
      <th>Mechanic name</th>
      <th>Primary Contact</th>
      <th>Alternative Contact</th>
      <th>District</th>
    </tr>
  </thead>

  <tbody>
    <% @mechenics.each do |mechenic| %>
      <tr>
        <td><%= mechenic.mec_name %></td>
        <td><%= mechenic.mobile_num_1 %></td>
        <td><%= mechenic.mobile_num2 %></td>
        <td><%= mechenic.district %>
        <div style="float:right" >
          <a href="<%=mechenic_path(mechenic)%>"><i class="fa fa-eye" aria-hidden="true" title="Show"></i></a>
          <a href="<%=mechenic_path(mechenic)%>"><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
          <%= link_to mechenic_path(mechenic), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o" title="Delete"></i>
          <% end %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mechenic', new_mechenic_path,class: "button is-danger" %>
