<p id="notice"><%= notice %></p>

<div class="container-fluid col-sm-2">
  <div class="card bg-primary text-white container-fluid">
      <div class="card-body text-center">
        <strong >Mechenic Details </strong>
        <%= @mechenic.mec_name %>
        <%= @mechenic.mobile_num_1%>
        <%= @mechenic.mobile_num2 %>
        <%= @mechenic.address %>
        <%= @mechenic.district %>
      </div>
  </div>


<%= link_to 'Edit', edit_mechenic_path(@mechenic),class: "button is-danger" %> 
<%= link_to 'Back', mechenics_path,class: "button is-danger" %>
