<%= form_with(model: brand, local: true) do |form| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="feild">
    <label class="label">
      Brand Name
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :brand_name, class: "input is-success",placeholder: "Enter a new Brand" %>
      <span class="icon is-small is-left">
        <i class="fa fa-strikethrough"></i>
      </span>
    </div>
    </br>

  <% if (params[:controller]=='brands'&& params[:action] == 'new')%>
    <div class="col">
      <%= form.submit "Create Brand", class: 'button is-success'%>
      <%= link_to 'Cancel', brands_path,class: "button is-danger"%>
    </div>
  <%else%>
    <div class="col">
      <%= form.submit "Update Brand", class: 'button is-success'%>
      <%= link_to 'Cancel', brands_path,class: "button is-danger"%>
      <%= link_to 'Show Brand', @brand,class: "button is-info"%>
    </div>
  <%end%>
  </div>

<% end %>
