<div class="container-fluid">
<table class="table is-hoverable is-narrow is-fullwidth">
  <thead>
    <tr>
      <th>Brand name</th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.brand_name %>
          <div style="float:right" >
          <a href="<%=brand_path(brand)%>"><i class="fa fa-eye" aria-hidden="true" title="Show"></i></a>
          <a href="<%=edit_brand_path(brand)%>"><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
          <%= link_to brand_path(brand), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o" title="Delete"></i>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Brand', new_brand_path,class: "button is-danger"%>
</div>
