   <%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="feild">
    <label class="label">
      Product Name
    </label>
    <div class="control has-icons-left has-icons-right">
      <%= form.text_field :name,:required => true,class: "input is-success",placeholder: "Add a new Product"  %>
      <span class="icon is-small is-left">
        <i class="fa fa-tv"></i>
      </span>
    </div>
    <label class="label">
      Brand
    </label>
    <div class="control select is-success">
      <%= form.collection_select :brand, Brand.all,:brand_name,:brand_name,:include_blank => "Select a Brand" %>
    </div>
    <br>
    <br>
    <% if (params[:controller]=='products'&& params[:action] == 'new')%>
      <div class="col">
        <%= form.submit "Create Product", class: 'button is-success'%>
        <%= link_to 'Cancel', products_path,class: "button is-danger"%>
      </div>
      <%else%>
      <div class="col">
        <%= form.submit "Update Product", class: 'button is-success'%>
        <%= link_to 'Cancel', products_path,class: "button is-danger"%>
        <%= link_to 'Show Product', @product,class: "button is-danger"%>

      </div>
      <%end%>

    </div>

  <% end %>
