   <%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2">
      Product Name
    </label>
    <div class="col">
      <%= form.text_field :name,:required => true,class: "form-control",placeholder: "Add a new Product"  %>
    </div>
    <br>
    <label for="inputEmail3" class="col-sm-2">
      Brand
    </label>
    <%= form.collection_select :brand, Brand.all,:brand_name,:brand_name,:include_blank => "Select a Brand",class: "form-control" %>


    <% if (params[:controller]=='products'&& params[:action] == 'new')%>
      <div class="col">
        <%= form.submit "Create Product", class: 'btn btn-success'%>
        <%= link_to 'Cancel', products_path,class: "btn btn-secondary"%>
      </div>
      <%else%>
      <div class="col">
        <%= form.submit "Update Product", class: 'btn btn-success'%>
        <%= link_to 'Cancel', products_path,class: "btn btn-secondary"%>
        <%= link_to 'Show Product', @product,class: "btn btn-secondary"%>

      </div>
      <%end%>

    </div>

  <% end %>
