<div class="container-fluid">

<table class="table is-hoverable is-narrow is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.brand %>
        <div style="float:right" >
        <a href="<%=product_path(product)%>"><i class="fa fa-eye" aria-hidden="true" title="Show"></i></a>
        <a href="<%=edit_product_path(product)%>"><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
        <%= link_to product_path(product), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
        </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path ,class: "button is-danger"%>
