<p id="notice"><%= notice %></p>
<div class="container-fluid">
<h1>Products</h1>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>sr_number</th>
      <th>Brand</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.sr_number %></td>
        <td><%= product.brand %></td>
        <td>
        <div style="float:right" >
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path ,class: "btn btn-secondary"%>
