<p id="notice"><%= notice %></p>

<div class="container-fluid col-sm-2">
  <div class="card bg-primary text-white container-fluid">
      <div class="card-body text-center">
        <strong > Product  </strong>
        <%= @product.name %>
        
        <%= @product.brand %>
      </div>
  </div>
  <%= link_to 'Edit', edit_product_path(@product),class: "button is-danger"%>
  <%= link_to 'Back', products_path, class: "button is-danger" %>
</div>
