<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
					</button> <a class="navbar-brand" href="<%=complaints_path%>">Complaints</a>
					</button> <a class="navbar-brand" href="<%=products_path%>">Products</a>
					</button> <a class="navbar-brand" href="<%=brands_path%>">Brands</a>
					</button> <a class="navbar-brand" href="<%=mechenics_path%>">Mechenics</a>
					</button> <a class="navbar-brand" href="<%=dealers_path%>">Dealers</a>

					<form class="form-inline">
						<%= form_tag complaints_path, :method => 'get',class:"navbar-form mavbar-left" do %>
	          <div class="form-group">
	          	<%= text_field_tag :search, params[:search],class:"form-control" %>
	          </div>
	          	<%= submit_tag "Search",:name=>nil,class:"btn btn-default"%>
	          <%end%>
					</form>
			</nav>
    </div>
  </div>
</div>
