<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
					</button> <a class="navbar-brand" href="<%=complaints_path%>">Complaints</a>
					</button> <a class="navbar-brand" href="<%=products_path%>">Products</a>
					</button> <a class="navbar-brand" href="<%=brands_path%>">Brands</a>
					</button> <a class="navbar-brand" href="<%=mechenics_path%>">Mechenics</a>
					</button> <a class="navbar-brand" href="<%=dealers_path%>">Dealers</a>

					<form class="form-inline pull-right">
						<input class="form-control mr-sm-2" type="text" />
						<button class="btn btn-primary my-2 my-sm-0" type="submit">
							Search
						</button>
					</form>
			</nav>
    </div>
  </div>
</div>
