<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
  <p class="menu-label is-hidden-touch">Navigation</p>
  <ul class="menu-list">
      <a href="#" class="">
        <span class="icon"><i class="fa fa-bar-chart"></i></span> Anylysis
      </a>
      <a href="<%=complaints_path%>" class="">
        <span class="icon"><i class="fa fa-exclamation-triangle"></i></span> Complaints
      </a>
      <a href="<%=products_path%>" class="navbar-item">
        <span class="icon"><i class="fa fa-tv"></i></span> Products
      </a>
      <a href="<%=brands_path%>" class="">
        <span class="icon"><i class="fa fa-strikethrough"></i></span> Brand
      </a>
      <a href="<%=mechenics_path%>" class="">
        <span class="icon"><i class="fa fa-cogs"></i></span> Mechenics
      </a>
      <a href="<%=employees_path%>" class="">
        <span class="icon"><i class="fa fa-user"></i></span> Employees
      </a>
      <a href="<%=dealers_path%>" class="">
        <span class="icon"><i class="fa fa-address-card"></i></span> Dealers
      </a>
  </ul>
</aside>
