<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
      <% if notice %><p class="notification"><button class="delete"></button><%= notice %></p> <% end %>
      <% if alert %><p class="notification"><button class="delete"></button><%= alert %></p> <% end %>
    <div id="app">
      <section class="main-content columns is-fullheight">
          <%= render "layouts/sidebar"%>
        <div class="container-fluid column is-10">
          <div class="section">
          <%= yield %>
          </div>
        </div>
      </section>
    </div>
  <%= render 'layouts/footer'%>

  </body>
</html>
